{% extends 'base.html' %}

{% load staticfiles %}
	<!-- 
		Available body classes: 
			smoothscroll			= enable chrome browser smooth scroll
			grey 					= grey content background
			boxed 					= boxed style
			pattern1 ... pattern10 	= background pattern

		Background Image - add to body: 
			data-background="assets/images/boxed_background/1.jpg"

		Examples: 
			<body class="smoothscroll grey boxed pattern3">
			<body class="smoothscroll boxed" data-background="assets/images/boxed_background/1.jpg">
	-->

{% block content %}

	<!-- REVOLUTION SLIDER -->
	<div class="slider fullwidthbanner-container roundedcorners">
		<div class="fullwidthbanner" data-height="650">
				<ul class="hide">
					
					<!-- SLIDE  -->
					<li data-transition="boxfade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

						<img src="{% static 'assets/images/1x1.png' %}" data-lazyload="{% static 'assets/images/demo/blue.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat"/>

						<div class="tp-caption medium_light_white lfb ltt tp-resizeme"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="10"
							data-speed="600"
							data-start="900"
							data-easing="Power4.easeOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="500"
							data-endeasing="Power4.easeIn">“El vacío, susceptible a ser conceptualmente confundido con la pura nada,<br> es de hecho el depósito de infinitas posibilidades.” <br/><span style="font-size:24px;font-weight:400;">&ndash; D. T. Suzuki <small> Filósofo, budismo Zen y Shin. </small>
						</span>
						</div>
					</li>

					<!-- SLIDE  -->
					<li data-transition="boxfade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">

						<img src="{% static 'assets/images/1x1.png' %}" data-lazyload="{% static 'assets/images/demo/layerslider/abyss-bg.jpg' %}" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

						<div class="tp-caption very_large_text lfb ltt tp-resizeme"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="-100"
							data-speed="600"
							data-start="800"
							data-easing="Power4.easeOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="500"
							data-endeasing="Power4.easeIn">
						</div>

						<div class="tp-caption medium_light_white lfb ltt tp-resizeme"
							data-x="center" data-hoffset="0"
							data-y="center" data-voffset="10"
							data-speed="600"
							data-start="900"
							data-easing="Power4.easeOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.01"
							data-endelementdelay="0.1"
							data-endspeed="500"	
							data-endeasing="Power4.easeIn">“Lo escencial es que el tanque de flotación no es un fenómeno hipotético de laboratorio, <br> sino una tecnología viable y probada” <br/><span style="font-size:24px;font-weight:400;">&ndash; Dr Henry Adams, National Institute of Mental Health, Washington.
						</span>
						</div>

					</li>

				</ul>

			<div class="tp-bannertimer"></div>
		</div>
	</div><!-- /topnav offset -->
	<!-- /REVOLUTION SLIDER -->


	<!-- CALLOUT -->
	<div class="callout dark"><!-- add "styleBackgroundColor" class for colored background and white text OR "dark" for a dark callout -->
		<div class="container">

			<div class="row">

				<div class="col-md-9 col-md-offset-1"><!-- title + shortdesc -->					
				</div>

			</div>

		</div>
	</div>
	<!-- /CALLOUT -->

	<!-- BORN TO BE A WINNER -->
	<section id="elvacio">
		<div class="container">
			<div class="row">

				<div class="col-md-6">
					<hr class ="half-margins invisible">
					<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/closed_eyes.jpg' %}" width="555" height="311" alt="">
						</div>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/persona_vendada.jpg' %}" width="555" height="311" alt="">
						</div>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/meditacion.jpg' %}" width="555" height="311" alt="">
						</div>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/paseo_solitario.jpg' %}" width="555" height="311" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<h3>
						La Búsqueda del <strong> Vacío </strong> 						
					</h3>
					<p>
						Si me detengo por un momento a observar el cuarto que me rodea, a escuchar los sonidos del ambiente y a sentir las sensaciones de mi cuerpo, puedo darme cuenta de que el percibir el mundo es un constante flujo de información para mi mente. Mis sentidos llenan mi experiencia, ocupan mi atención, que es limitada, si mi actividad cerebral está concentrada en procesar ciertos estímulos, existe menos disponibilidad para procesar otros.
						<br><br>

						Todos conocemos sobre la capacidad de los ciegos para orientarse por los sonidos y por el tacto, sobre cómo el vacío de la ausencia de visión crea un espacio de atención que puede ser llenado, permitiendo que la sensibilidad de los otros sentidos se expanda; esta característica de selectividad abre la posibilidad de utilizar la limitación sensorial para redireccionar los recursos de la mente.

						<br><br>
						Con este propósito los humanos hemos utilizado técnicas y herramientas que han estado en la base de prácticas y tradiciones desde hace miles de años. La búsqueda del vacío estaba entre nuestros ancestros nómadas cuando preparaban sus sentidos para mejorar sus habilidades de cacería; en los ritos como preparación a los jóvenes iniciados para estar más abiertos a experiencias intensas y trascendentales; en prácticas espirituales para encontrar estados místicos o de iluminación; entre artistas y científicos en búsqueda de inspiración y creatividad; y entre personas comunes de las ciudades modernas, que por un momento quieren salir de lo frenético de la vida urbana.

					</p>
				</div>

			</div>
		</div>
	</section>
	<!-- /BORN TO BE A WINNER -->

	<!-- BORN TO BE A WINNER -->
	<section>
		<div class="container">
			<div class="row">				
				<div class="col-md-6">
					<h3>
						Desarrollo de la Cámara de <strong> Aislamiento Sensorial </strong> 
						
					</h3>
					<p>
					La búsqueda del vacío empieza un auge en 1954, cuando el neurofisiólogo estadounidense John C. Lilly junto con su socio el neuropsiquiatra Dr. Jay Shirley, decidieron desarrollar un sistema para limitar la estimulación ambiental tanto como fuera posible; lo que buscaban era un instrumento para investigar la mente y el cerebro humano que les permita entender la relación entre los estímulos externos y la actividad consciente.

					<br><br>

					A inicio de los setenta las cámaras de aislamiento sensorial desarrolladas, ademas de responder a sus preguntas científicas, estaban abriendo un nuevo campo de investigación; la total ausencia de estímulos empezó a demostrar efectos provechosos, dando origen a la terapia FloatREST (Restricted Environmental Stimulation Therapy).

					<br><br>

					El logro más importante del sistema de Lilly fue eliminar la experiencia de la gravedad, para esto se utiliza una solución de sulfato de magnesio con la densidad suficiente para que el cuerpo flote sin ningún esfuerzo; el ambiente es oscuro y silencioso y está a una temperatura cercana a la de la piel, esto le permite al organismo vaciarse de estímulos externo y redireccionar su actividad a procesos internos.
					</p>
				</div>
				<div class="col-md-6">
					<div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": false, "transitionStyle":"fadeUp"}'>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/john_lily.jpg' %}" width="555" height="311" alt="">
						</div>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/arte_flotacion.jpg' %}" width="555" height="311" alt="">
						</div>
						<div>
							<img class="img-responsive" src="{% static 'assets/images/kuonepage/float_persona.png' %}" width="555" height="311" alt="">
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- /BORN TO BE A WINNER -->

<!-- CONTENT -->
<section>
<div class="container">

<div id="investigacion" class="row">
			<header class="text-center">
				<h1 class="font-dosis">
					<strong>Investigación</strong> Científica  y Terapiav <strong> floatREST</strong>
				</h1>
				<div class="divider half-margins onepage center"><!-- lines divider --></div>
			</header>
	<!-- ARTICLE -->
	<div class="col-md-9 col-sm-9">
		<div class="row">
			<!-- article content -->
			<article>
				<p class="dropcap">
					Respondiendo a la duda original de John Lilly, lo primero que se descubrió en las investigaciones en aislamiento sensorial fue que la experiencia consciente no requiere de un mundo externo; la mente en ausencia de estímulos no se apaga sino se amplifica. En un estudio realizado en el 2000 se encontró que con tan solo media hora en ausencia de luz, la actividad de la corteza visual se intensifica; en varias investigaciones, esta estimulación, en combinación con la profunda relajación del cuerpo, ha sido utilizada con resultados favorables para incrementar el desempeño en actividades atléticas y musicales que requieren alto nivel de concentración y coordinación visual-motora, como el basketball, tennis, arqueria, improvización en jazz.<br><br>

					Otro enfoque de investigaciones trata los efectos de la terapia FloatREST en el desempeño y la ampliación de la actividad mental, en el uso de la cámara como “tanque de pensamiento”. Algunos estudios encuentran que flotar puede generar un estado más creativo, una mejora en el pensamiento divergente y la imaginación libre; esta característica no es exclusiva a esta terapia, ocurre de la misma manera con la meditación, la hipnosis y los sueños, solo que es más facil en un tanque de flotación, en el que se puede entrar a estos estados mucho más rápido y espontáneamente, sin requerir ningún esfuerzo consciente. Por otro lado, el profundo descanso de una sección de floatREST puede ser excelente complemento de todo proceso de aprendizaje, estudios han demostrado que es durante el reposo cuando el cerebro ensaya nuevas habilidades y consolida el aprendizaje . <br><br>

				<!-- BLOCKQUOTE -->
				<blockquote>
					<p>Si permites que la creatividad funcione sin interrupción o distracción, tendrás mejores resultados</p>
					<cite>Peter Suedfeld</cite>
				</blockquote>

					En los inicios de los 80, una serie de estudios del Medical College of Ohio encontraron que la terapia FloatREST reduce la presión sanguínea, el ritmo cardíaco y los niveles de cortisol y adrenalina; este efecto ocurre durante y entre secciones, y persiste después de la ultima flotación. En el 2005 un meta-analysis encontró que la terapia FloatREST, en comparación con varios otros métodos  fue la opción más efectiva para reducir el estrés. Estos resultados han generado una serie de investigaciones sobre los beneficios que podrían obtener de esta práctica los pacientes con trastornos que pueden ser causados o agravados por el estrés.</p>
				
			</article>
		</div>

	</div>
	<!-- /ARTICLE -->

	<!-- SIDEBAR -->
	<div class="col-md-3 col-sm-3">
			<div class="row tab-post"><!-- post -->
				<div class="col-md-3 col-sm-3 col-xs-3">
					<a target="_blank" href="http://blogs.discovermagazine.com/crux/2014/04/04/floating-away-the-science-of-sensory-deprivation-therapy/#.VW4NrbzL_7A" class="tab-post-link">
						<img src="{% static 'assets/images/kuonepage/floating_away.jpg' %}" width="50" alt="" />
					</a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<a target="_blank" href="http://blogs.discovermagazine.com/crux/2014/04/04/floating-away-the-science-of-sensory-deprivation-therapy/#.VW4NrbzL_7A" class="tab-post-link">Floating Away</a>
					<small>Discover Magazine</small>
				</div>
			</div><!-- /post -->

			<div class="row tab-post"><!-- post -->
				<div class="col-md-3 col-sm-3 col-xs-3">
					<a target="_blank" href="http://www.floattanksolutions.com/product/free-scientific-research-list/">
						<img src="{% static 'assets/images/kuonepage/float_tank_solutions.png' %}" width="50" alt="" />
					</a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<a target="_blank" href="http://www.floattanksolutions.com/product/free-scientific-research-list/" class="tab-post-link">Scientific Research List</a>
					<small>Float Tank Solutions</small>
				</div>
			</div><!-- /post -->

			<div class="row tab-post"><!-- post -->
				<div class="col-md-3 col-sm-3 col-xs-3">
					<a target="_blank" href="http://floatforhealth.net/research.htm">
						<img src="{% static 'assets/images/kuonepage/float_for_health.jpg' %}" width="50" alt="" />
					</a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<a target="_blank" href="http://floatforhealth.net/research.htm" class="tab-post-link">Scientific Research</a>
					<small>Float For Health</small>
				</div>
			</div><!-- /post -->

			<div class="row tab-post"><!-- post -->
				<div class="col-md-3 col-sm-3 col-xs-3">
					<a target="_blank" href="http://www.tandfonline.com/doi/abs/10.1080/08870440412331337093">
						<img src="{% static 'assets/images/kuonepage/ps_health.jpg' %}" width="50" alt="" />
					</a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<a target="_blank" href="http://www.tandfonline.com/doi/abs/10.1080/08870440412331337093" class="tab-post-link">REST as a stress management tool</a>
					<small>Psichology & Health</small>
				</div>
			</div><!-- /post -->

			<div class="row tab-post"><!-- post -->
				<div class="col-md-3 col-sm-3 col-xs-3">
					<a target="_blank" href="http://www.neurorexia.com/2014/04/04/floating-away-the-science-of-sensory-deprivation-therapy/">
						<img src="{% static 'assets/images/kuonepage/peter_s.png' %}" width="50" alt="" />
					</a>
				</div>
				<div class="col-md-9 col-sm-9 col-xs-9">
					<a target="_blank" href="http://www.neurorexia.com/2014/04/04/floating-away-the-science-of-sensory-deprivation-therapy/" class="tab-post-link">Interview with Peter Suedfeld</a>
					<small>Neurorexia</small>
				</div>
			</div><!-- /post -->
	<!-- JUSTIFIED TAB -->
	</div>
	<!-- /SIDEBAR -->
</div>
</div>
</section>
<!-- /CONTENT -->

<!-- PORTFOLIO -->
<section id="efectos" class="alternate">
	<div class="container">
		<header class="text-center">
			<h1 class="font-dosis">
				<strong>EFECTOS</strong> del aislamiento sensorial
			</h1>

			<div class="divider half-margins onepage center"><!-- lines divider --></div>

		</header>
		
		<p class="lead">La terapia FLOAT REST tiene distintos beneficios, puedes utilizarla para lo que más se adecúe con tus necesidades.</p>


		<div id="portfolio">

			<ul class="nav nav-pills isotope-filter isotope-filter noborder" data-sort-id="isotope-list" data-option-key="filter">
				<li data-option-value="*" class="active"><a href="#">Todos</a></li>
				<li data-option-value=".estres"><a href="#">Activación de la Respuesta de Relajación</a></li>
				<li data-option-value=".atencion"><a href="#">Atención Interanalizada</a></li>
				<li data-option-value=".desempeno"><a href="#">Aumento del Desempeño, Coordinación y Concentración</a></li>
			</ul>


			<div class="row">

				<ul class="sort-destination isotope" data-sort-id="isotope-list">

					<li class="sotope-item col-sm-6 col-md-4 estres"><!-- item -->
						<div class="item-box">
							<figure>
								<a class="item-hover" href="#" data-toggle="modal" data-target=".modal_estres">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>Relajación</strong>
									</span>
								</a>
								<img class="img-responsive" src="{% static 'assets/images/kuonepage/piedras_estres.jpg' %}" width="260" height="260" alt="">
							</figure>
						</div>
					</li>

					<li class="sotope-item col-sm-6 col-md-4 atencion"><!-- item 2 -->
						<div class="item-box">
							<figure>
								<a class="item-hover" href="#" data-toggle="modal" data-target=".modal_atencion">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>Atención</strong>
									</span>
								</a>
								<img class="img-responsive" src="{% static 'assets/images/kuonepage/unleash_mind.jpg' %}" width="260" height="260" alt="">
							</figure>
						</div>
					</li>

					<li class="sotope-item col-sm-6 col-md-4 desempeno"><!-- item 3 -->
						<div class="item-box">
							<figure>
								<a class="item-hover" href="#" data-toggle="modal" data-target=".modal_desempeno">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>Desempeño</strong>
									</span>
								</a>
								<img class="img-responsive" src="{% static 'assets/images/kuonepage/deportes.jpg' %}" width="260" height="260" alt="">
							</figure>
						</div>
					</li>
					<!--
					<li class="sotope-item col-sm-6 col-md-4 estres">
						<div class="item-box">
							<figure>
								<a class="item-hover" href="portfolio-single-basic.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>Estrés</strong> Youtube Video
									</span>
								</a>
								<img class="img-responsive" src="{% static 'assets/images/demo/portfolio/a4.jpg' %}" width="260" height="260" alt="">
							</figure>
						</div>
					</li>

					<li class="sotope-item col-sm-6 col-md-4 atencion">
						<div class="item-box">
							<figure>
								<a class="item-hover lightbox" href="http://www.youtube.com/watch?v=W7Las-MJnJo" data-plugin-options='{"type":"iframe"}'>
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>Atención Internalizada</strong> Youtube Video
									</span>
								</a>
								<img class="img-responsive" src="{% static 'assets/images/demo/portfolio/a5.jpg' %}" width="260" height="260" alt="">
							</figure>
						</div>
					</li>

					<li class="sotope-item col-sm-6 col-md-4 desempeno">
						<div class="item-box">
							<figure>
								<a class="item-hover" href="portfolio-single-basic.html">
									<span class="overlay color2"></span>
									<span class="inner">
										<span class="block fa fa-plus fsize20"></span>
										<strong>Desempeño Visual y Motor</strong> Youtube Video
									</span>
								</a>
								<img class="img-responsive" src="{% static 'assets/images/demo/portfolio/a6.jpg' %}" width="260" height="260" alt="">
							</figure>
						</div>
					</li>

				</ul>

			</div>
			-->
			<div class="modal fade bs-large-modal-lg modal_estres" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header"><!-- modal header -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Activación de la Respuesta de Relajación</h4>
						</div><!-- /modal header -->

						<!-- modal body -->
						<div class="modal-body">

							<div class ="col-md-offset-4">
								<img class ="thumbnail rounded" src="{% static 'assets/images/kuonepage/piedras_estres.jpg' %}">
							</div>

							<p class="dropcap">
							Durante una terapia FloatREST el organismo se libera de la necesidad de lidiar con un mundo externo, entra a un estado de quietud y calma y puede descansar más efectivamente; el nivel de relajación puede ser el más profundo que uno llegue a conocer, porque normalmente estamos procesando estímulos externos, incluso mientras reposamos y dormimos: la luz y el sonido del ambiente, por más mínimos que sean, hacen eco en nuestro sistema nervioso; el peso de nuestro cuerpo presionado contra la cama tensiona músculos y articulaciones, obligando al sistema nervioso a mantenerse atento para girar y redistribuir la presión. Descansar en aislamiento sensorial es muy beneficioso en procesos de rehabilitación y de regeneración física, y especialmente útil en momentos de mucho desgaste, como en un síndrome de burnout o en las etapas avanzadas de un embarazo.

							<br><br>

							Durante una terapia FloatREST se activa la respuesta de relajación de manera espontánea; la disminución de la presión sanguínea, del ritmo cardíaco y de los niveles de cortisol y adrenalina hacen que esta terapia sea un valioso complemento para tratar toda condición médica relacionada con el estrés; es utilizada con excelente resultados en pacientes con artritis reumatoide, dolor crónico y la fibromialgia; también se ve, mejora el sistema inmunológico, el metabolismo y aumenta la sensación general de vitalidad y de bienestar.
							</p>
						</div>
						<!-- /modal body -->

						<div class="modal-footer"><!-- modal footer -->
							<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div><!-- /modal footer -->

					</div>
				</div>
			</div>

			<div class="modal fade bs-large-modal-lg modal_atencion" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header"><!-- modal header -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Atención Interanalizada</h4>
						</div><!-- /modal header -->

						<!-- modal body -->
						<div class="modal-body">

							<div class ="col-md-offset-4">
								<img class ="thumbnail rounded" src="{% static 'assets/images/kuonepage/unleash_mind.jpg' %}">
							</div>

							<p class="dropcap">
							En el vacío del aislamiento sensorial el organismo ya no tiene la necesidad de lidiar con un mundo externo y empieza a quedarse quieto y calmado, la presión sanguínea disminuye, el cuerpo se relaja y se puede descansar profundamente. Una sección de FloatREST puede ser una experiencia de mucha tranquilidad, paz y serenidad, que ayuda mucho a personas que atraviesan alguna etapa crítica de su vida; es un excelente complemento de procesos psicoterapéuticos: para salir de estados de depresión, de ansiedad o de estrés y para superar miedos y adicciones. 

							<br><br>

							Flotando la actividad una persona se redirecciona hacia procesos internos: hay como darse cuenta de los detalles sutiles de la experiencia, la respiración o el latir del corazón pueden amplificarse y tal vez surge alguna sensación en el cuerpo, normalmente inadvertida; la mente empieza a entrar a un estado de trance, de tranquila atención internalizada, que es ideal para la meditación, la visualización, la hipnoterapia y la auto-hipnosis. Relajarse profundamente es mentalmente estimulante, varios estudios han mostrado que, mientras descansa, el cerebro repetidamente ensaya habilidades  y consolida el conocimiento nuevo para almacenarlo a largo plazo; flotar puede ser una valiosa herramienta en procesos de aprendizaje.

							<br><br>

							Como resultado del aislamiento sensorial se observan ciertos cambios en la actividad cerebral: hay un aumento de la actividad del hemisferio derecho y un cambio de frecuencia de las ondas cerebrales, que descienden, de beta a alpha a theta e incluso a delta, a medida que el organismo empieza a relajarse y el estado de introspección a volverse más profundo. En este reposo el cerebro es capaz de sintetizar información de una mayor variedad de zonas, y la mente, en un estado intermedio entre que dormida y despierta, se pinta con nuevos colores, como el cielo en un crepúsculo; esto estimula la imaginación y hace posible encontrar asociaciones remotas, ideas divergentes, memorias olvidadas e inspiraciones repentinas. Flotar en aislamiento sensorial es una excelente herramienta para la reflexión y el pensamiento; para la creatividad y resolución de conflictos; para verse a sí mismo, escucharse y conocerse.
						</div>
						<!-- /modal body -->

						<div class="modal-footer"><!-- modal footer -->
							<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div><!-- /modal footer -->

					</div>
				</div>
			</div>

			<div class="modal fade bs-large-modal-lg modal_desempeno" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">

						<div class="modal-header"><!-- modal header -->
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Aumento del Desempeño, Coordinación y Concentración</h4>
						</div><!-- /modal header -->

						<!-- modal body -->
						<div class="modal-body">

							<div class ="col-md-offset-4">
								<img class ="thumbnail rounded" src="{% static 'assets/images/kuonepage/deportes.jpg' %}">
							</div>

							<p class="dropcap">
							Cuando el organismo ya no tiene la necesidad de lidiar con estímulos externos empieza a tener un cambio en su actividad, se inicia una respuesta parasimpática que trae mucha relajación y una amplificación de la experiencia consciente; estos cambios en el sistema mente/cuerpo mejoran la función general del cerebro y del sistema nervioso central, principalmente la capacidad de concentración y de realizar tareas que requieren un alto nivel de coordinación visual y motora; este efecto del aislamiento sensorial podria parecer una simple sugestión, pero es de hecho un fenómeno significativo respaldado por más de treinta años de investigaciones científicas sobre el rendimiento humano.


							<br><br>

							Varios estudios, realizados principalmente en los programas de investigación de Peter Suedfeld de la Universidad de la Columbia Británica y Arreed Barabasz en la Universidad Estatal de Washington, han demostrado la flotación es un herramienta de gran utilidad para mejorar el rendimiento en una variedad de tareas de desempeño atlético, mental y musical, como el baloncesto, tenis, esquí, tiro con arco, vuelo instrumental, creatividad científica e improvisación en el jazz.

							<br><br>

							Una de las principales beneficios que presenta la terapia de flotación en el desempeño humano es el apoyo que presenta para mantener un buena salud y bienestar físico. Entre los atletas, la mayoría de las lesiones deportivas no son el resultado de contacto sino de tensión muscular inapropiada; flotar ha demostrado que afloja los músculos y da un mayor grado de control sobre su sistema nervioso autónomo, reduciendo el riesgo de lesiones durante los entrenamientos y competencias; y si ya se produce una lesión, flotar acelera la recuperación debido a que la relajación incrementa el flujo de sangre y el flujo linfático permitiendo que funcionen los procesos naturales de curación. Por otro lado, flotar maximiza el efecto del ejercicio, porque una sección en el gimnasio estimula el desarrollo de musculatura, pero el fortalecimiento real ocurre durante la relajación, por esto flotar estimula y acelera el crecimiento de tejido muscular.

							<br><br>

							El desempeño en toda disciplina depende de una combinación de habilidades físicas, mentales y emocionales, los métodos modernos de entrenamiento se centran en ayudar a dominar "el juego interior", para desarrollar esa sincronía entre estos elementos de la persona; la técnica psicológica más potente para generar simultáneamente habilidad, concentración y confianza es la visualización. Durante la flotación un persona puede alcanzar un mayor nivel de concentración que permite que la visualización tenga un impacto dramático en el rendimiento; este es una de las mejores innovaciones en las ciencia del desempeño humano, y es utilizada como herramienta esencial por personas como él atleta Carl Lewis y el futbolista Wayne Rooney, asi como por los equipos olímpicos de Chile, Australia e Inglaterra.

							</p>
						</div>
						<!-- /modal body -->

						<div class="modal-footer"><!-- modal footer -->
							<button class="btn btn-default" data-dismiss="modal">Cerrar</button>
						</div><!-- /modal footer -->

					</div>
				</div>
			</div>

		
		</div>
	</div>
</section>
<!-- /PORTFOLIO -->


<!-- ABOUT -->
	<section id="nosotros">
			<div class="container">
				<div class = "divider half-margins">
				<i class="fa fa-child"></i>
			</div>
			
			<p class="lead"> <strong>Una de las primeras cámaras de flotación en América Latina. </strong><br> <small> A veinte minutos de Quito </small></p>

			<hr class="half-margins invisible" /><!-- 60px spacer -->

			<div class="row text-left">

				<!-- Passion -->
				<div class="col-md-4">
					<h3>Historia</h3>
					<p>El origen de nuestra cámara de flotación se remonta a inicios del 2010, cuando, movidos por la posibilidad de descubrimiento y creación, empezamos un proceso de estudio y práctica diaria con el objetivo de desarrollar conciencia en los sueños. A mediados del 2012, después de varias experiencias de éxito y fracaso en esta búsqueda, estábamos investigando en  técnicas y herramientas que faciliten los sueños lúcidos cuando leímos que flotar en aislamiento sensorial puede ser de mucha utilidad; poco después decidimos construir una cámara de flotación.

					<br><br>

					Para el 2015 el sistema que desarrollamos era capaz de controlar el aire y el agua salada del ambiente de manera que el calentamiento, el aislamiento termoacústico, y la limpieza y mantenimiento podían manejarse con facilidad y precisión suficiente; después de algunos meses y de varias experiencias de flotación, nace KuFlotarium, un proyecto con el que buscamos difundir las posibilidades y beneficios de la terapia FloatREST.</p>
				</div>


				<!-- Precision -->
				<div class="col-md-4">
					<h3>Misión y Filosofía</h3>
					<p>Creemos que el ser humano tiene un potencial mucho mayor y es inconciente de esto. En su vida cotidiana pasa encerrado en una lógica que termina por ofuscarlo y no le permite ver más allá de lo inmediato y evidente. A través del aislamiento sensorial, creemos que podemos ser una herramienta de cambio muy valiosa para el individuo moderno.</p>
				</div>


				<!-- Simplicity -->
				<div class="col-md-4">
					<h3>Experiencias</h3>

					<div class="fb-page" data-href="https://www.facebook.com/KuFlotarium" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/KuFlotarium"><a href="https://www.facebook.com/KuFlotarium">Ku Flotarium</a></blockquote></div></div>

					<hr class ="half-margins invisible">


					<!--
					<div class="owl-carousel text-center" data-plugin-options='{"items": 1, "singleItem": true, "navigation": false, "pagination": true, "autoPlay": true, "transitionStyle":"fadeUp"}'>
						<div class="testimonial">
							<p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
							<cite><strong>John Doe</strong>, Customer</cite>
						</div>

						<div class="testimonial">
							<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
							<cite><strong>Jessica Doe</strong>, Customer</cite>
						</div>

						<div class="testimonial">
							<p>Praesent est laborum dolo rumes fugats untras. Etha rums ser quidem rerum facilis dolores nemis onis fugats vitaes nemo minima rerums unsers sadips amets.</p>
							<cite><strong>Dorin Doe</strong>, Customer</cite>
						</div>

						<div class="testimonial">
							<p>Donec tellus massa, tristique sit amet condim vel, facilisis quis sapien. Praesent id enim sit amet odio vulputate eleifend in in tortor. Donec tellus massa.</p>
							<cite><strong>Melissa Doe</strong>, Customer</cite>
						</div>
					</div>
					-->

				</div>
			</div>
			
		</div>
	</section>
	<!-- /ABOUT -->

	<!-- CONTENT -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img alt="" src="{% static 'assets/images/kuonepage/kulogo.png' %}" height="180" class="logo" />
					<div class = "divider half-margins">
						
					</div>
					<p class="nomargin-bottom">
						<span class="block"><strong><i class="fa fa-map-marker"></i> Dirección:</strong> González Suárez Oe4-92 Tumbaco </span>
						<span class="block"><strong><i class="fa fa-phone"></i> Teléfono:</strong> <a href="#">(02) 237-6650</a></span>
						<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:kuflotarium@gmail.com">kuflotarium@gmail.com</a></span>
					</p>
				</div>	

				<div class = "col-md-1">
				</div>

				<div class="col-md-7">
					<h2>Visítanos</h2>
					<div id="gmap" class="grayscale"><!-- google map --></div>
					<script type="text/javascript">
						var	$googlemap_latitude 	= -0.213217,
							$googlemap_longitude	= -78.411298,
							$googlemap_zoom			= 13;
					</script>							
				</div>
	
			</div>
		</div>
	</section>
	<!-- /CONTENT -->


	<!-- FOOTER -->
	<footer id="footer">
		<div class="copyright">
		</div>
	</footer>
	<!-- /FOOTER -->

	<a href="#" id="toTop"></a>

</div><!-- /#wrapper -->

{% endblock content %}

{% block javascript %}

{% endblock javascript %}
