<!DOCTYPE html>
{% load staticfiles %}
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Ku Flotarium</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'assets/images/kuonepage/logo_ku.ico' %}" />

		<!-- WEB FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/sky-forms.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/weather-icons.min.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/line-icons.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/owl-carousel/owl.pack.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/plugins/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/flexslider.css' %}" rel="stylesheet" type="text/css" />

		<!-- REVOLUTION SLIDER -->
		<link href="{% static 'assets/css/revolution-slider.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/layerslider.css' %}" rel="stylesheet" type="text/css" />

		<!-- THEME CSS -->
		<link href="{% static 'assets/css/essentials.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/layout.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/header-transparent.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/footer-default.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'assets/css/color_scheme/darkblue.css' %}" rel="stylesheet" type="text/css" id="color_scheme" />

		<!-- Morenizr -->
		<script type="text/javascript" src="{% static 'assets/plugins/modernizr.min.js' %}"></script>

		<!--[if lte IE 8]>
			<script src="{% static 'assets/plugins/respond.js' %}"></script>
		<![endif]-->
	</head>

	<body class="smoothscroll">

	<!-- Facebook Fan Page-->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.3&appId=496030367220511";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

		<div id="wrapper">

			<header id="header">

				<!-- Top Nav -->
				<header id="topNav" class="translucent"><!-- supported classes: translucent = translucent topNav , bordered = translucent border .  Example:  class="translucent bordered" -->	
					<div class="container">

						<!-- Logo -->
						<a class="logo" href="index.html">
							<img src="{% static 'assets/images/kuonepage/kulogo2.png' %}" height="50" alt="" />
						</a>

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Top Nav -->
						<div class="navbar-collapse nav-main-collapse collapse">
							<nav class="nav-main">

								<!--
									NOTE
									
									For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
									Direct Link Example: 

									<li>
										<a href="#">HOME</a>
									</li>
								-->
								<ul id="topMain" class="nav nav-pills nav-main">
									<li><a class="scrollTo" href="#elvacio">El Vacío<br></a></li>
									<li><a class="scrollTo" href="#investigacion">Investigación</a></li>
									<li><a class="scrollTo" href="#efectos">Efectos</a></li>
									<li><a class="scrollTo" href="#nosotros">Sobre Nosotros</a></li>
								</ul>
							</nav>
						</div>
						<!-- /Top Nav -->

					</div><!-- /.container -->
				</header>
				<!-- /Top Nav -->

			</header>




		{% block content %}

		{% endblock content %}

		</div><!-- /#wrapper -->

		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript" src="{% static 'assets/plugins/jquery-2.1.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/jquery.isotope.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/masonry.js' %}"></script>

		<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/owl-carousel/owl.carousel.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/knob/js/jquery.knob.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/flexslider/jquery.flexslider-min.js' %}"></script>

		<!-- REVOLUTION SLIDER -->
		<script type="text/javascript" src="{% static 'assets/plugins/revolution-slider/js/jquery.themepunch.tools.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/revolution_slider.js' %}"></script>

		<script type="text/javascript" src="{% static 'assets/js/scripts.js' %}"></script>
		{% block javascript %}

		{% endblock javascript %}

	</body>
</html>
